# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.python-version

# Node
node_modules/
dist/

# AWS SAM
.aws-sam/
samconfig.toml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Local testing
ipo_filings/

# Environment
.env
.env.local
.env.production

# Local config with credentials
config.local.yml
scraper/





test-commit 
  
